
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.questionaire-card {
  width: 300px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questionaire-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.questionaire-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.questionaire-card-delete {
  color: #ff0000;
  cursor: pointer;
}

.questionaire-card-delete:hover {
  text-decoration: underline;
}