.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.leaderboard-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 0.5rem;
  text-align: center;
}

.leaderboard-table th {
  background-color: #ccc;
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  margin: 1rem;
  padding: 0.3rem 0.7rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}